#header {
    text-align: center;
    margin: 50px;
}

.checklist {
    border: 3px solid red;
    min-height: 500px;
}

#section {
    display: flex;
    gap: 20px;
}

#section #todoList_result {
    min-width: 500px;
    min-height: 500px;
    border: 1px solid black;
}